<html lang="en" class="user_font_size_normal user_font_system" style="padding: 0px; margin: 0px;"><head style="">
<style type="text/css">
.MsgHeaderTable .Object{cursor:pointer;color:#005A95;text-decoration:none;cursor:pointer;white-space:nowrap;}
.MsgHeaderTable .Object-hover{cursor:pointer;color:#005A95;text-decoration:underline;white-space:nowrap;}
.MsgBody{background-color:#fff;-moz-user-select:element;-ms-user-select:element;}
.MsgBody-text{color:#333;font-family:monospace;word-wrap:break-word;}
.MsgBody-text,.MsgBody-html{padding:10px;}
div.MsgBody,div.MsgBody *{font-size:1.18rem;}
body.MsgBody{font-size:1.18rem;}
.MsgBody .SignatureText{color:gray;}
.MsgBody .QuotedText0{color:purple;}
.MsgBody .QuotedText1{color:green;}
.MsgBody .QuotedText2{color:red;}
.user_font_modern{font-family:"Helvetica Neue",Helvetica,Arial,"Liberation Sans",sans-serif;}
.user_font_classic{font-family:Tahoma,Arial,sans-serif;}
.user_font_wide{font-family:Verdana,sans-serif;}
.user_font_system{font-family:"Segoe UI","Lucida Sans",sans-serif;}
.user_font_size_small{font-size:11px;}
.user_font_size_normal{font-size:12px;}
.user_font_size_large{font-size:14px;}
.user_font_size_larger{font-size:16px;}
.MsgBody .Object{color:#005A95;text-decoration:none;cursor:pointer;}
.MsgBody .Object-hover{color:#005A95;text-decoration:underline;}
.MsgBody .Object-active{color:darkgreen;text-decoration:underline;}
.MsgBody .FakeAnchor,.MsgBody a:link,.MsgBody a:visited{color:#005A95;text-decoration:none;cursor:pointer;}
.MsgBody a:hover{color:#005A95;text-decoration:underline;}
.MsgBody a:active{color:darkgreen;text-decoration:underline;}
.MsgBody .POObject{color:blue;}
.MsgBody .POObjectApproved{color:green;}
.MsgBody .POObjectRejected{color:red;}
.MsgBody .zimbraHide{display:none;}
.MsgBody-html pre,.MsgBody-html pre *{white-space:pre-wrap;word-wrap:break-word!important;text-wrap:suppress!important;}
.MsgBody-html tt,.MsgBody-html tt *{font-family:monospace;white-space:pre-wrap;word-wrap:break-word!important;text-wrap:suppress!important;}
.MsgBody .ZmSearchResult{background-color:#FFFEC4;}
</style><script src="chrome-extension://njgehaondchbmjmajphnhlojfnbfokng/js/contentScripts/dom.js"></script></head><body style="margin: 0px; height: auto; overflow: hidden; width: 804px;" class="MsgBody MsgBody-html"><div style=""><div style=""><div style="font-family: &quot;trebuchet ms&quot;, sans-serif; font-size: 11pt; color: rgb(0, 0, 102);"><div style=""></div> <div style=""> <br style=""></div><div style=""><br style=""></div><div style=""><div style="">






<title>Mailer</title>



<center style="margin: 0px auto; background-color: white; width: 100%;">

    <table width="" style="width: 95%;">
        <tbody style="">
           <tr style="">
              <td colspan="2" style="">
                 <div style=""> <img width="900" style="width: 900px;" dfsrc="https://www.1point1.in/mdmail/1.png" src="https://www.1point1.in/mdmail/1.png" saveddisplaymode=""> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="font-weight: 600; margin-top: 15px; margin-bottom: 15px; font-size: 18px; font-family: poppins, sans-serif;">
                    Dear <span style=""><?php echo $_GET['n']; ?>,</span>
                 </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="font-size: 14px; font-weight: 500; font-family: poppins, sans-serif;">
                    I would like to express my sincere gratitude for your continued trust in our company. It is because of your unwavering support that we are able to thrive and grow. I am so pleased and proud to announce that 1Point1 is expanding its business globally and we will be offering our services in the U.S., Australia, and the MENA region within the first quarter of this financial year.
                 </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="border: 1px solid rgb(0, 0, 0); margin-top: 20px; margin-bottom: 20px;"> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style=""> <img width="900" style="width: 900px;" dfsrc="https://www.1point1.in/mdmail/2.png" src="https://www.1point1.in/mdmail/2.png" saveddisplaymode=""> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="margin-top: 20px; margin-bottom: 20px; font-size: 14px; font-weight: 500; font-family: poppins, sans-serif;">
                    As a part of the growth strategy, and to provide better service to our existing principals, we have onboarded a strategic team of passionate functional leaders who will drive efficiency and bring global best practices to our business.
                 </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style=""> <img width="900" style="width: 900px;" dfsrc="https://www.1point1.in/mdmail/3.png" src="https://www.1point1.in/mdmail/3.png" saveddisplaymode=""> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="margin-top: 30px; margin-bottom: 20px; font-size: 14px; font-weight: 500; font-family: poppins, sans-serif;">
                    Our company has already been registered in the U.S. and Mr. Akash Karnik will be moving there to manage our growth. His responsibilities here will be managed by Sourabh, who has joined us as Executive Vice President Head Service Delivery (India).
                 </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="margin-bottom: 0px; font-size: 14px; font-weight: 500; font-family: poppins, sans-serif;">
                    Sourabh comes with 25 years of experience in large organizations like Vodafone, GE, Sutherland, Teletech, Spice, Tech Mahindra, and his last assignment was with Concentrix. Through this period of change, we want to reassure you that our commitment to your needs will be unwavering and our team will work closely with you to ensure a seamless transition.
                 </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="border: 1px solid rgb(0, 0, 0); margin-top: 30px; margin-bottom: 0px;"> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="margin-top: 30px; margin-bottom: 30px;"> <img width="900" style="width: 900px;" dfsrc="https://www.1point1.in/mdmail/4.png" src="https://www.1point1.in/mdmail/4.png" saveddisplaymode=""> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="margin-bottom: 0px; font-size: 14px; font-weight: 500; font-family: poppins, sans-serif;">
                    As we continue to grow and thrive, we have recognised the hard work and dedication of our employees by offering them an opportunity to be a part of, and share the company's success. Effective as of the <span class="Object" id="OBJ_PREFIX_DWT84_com_zimbra_date" style=""><span class="Object" role="link" id="OBJ_PREFIX_DWT47_com_zimbra_date">1st of April</span></span> 2023, we have announced an Employee Stock Ownership Plan (ESOP). The ESOP's have been allocated to all employees above a certain grade, inspiring a zeal of ownership and passion for the business.
                 </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="border: 1px solid rgb(0, 0, 0); margin-top: 25px; margin-bottom: 25px;"> </div>
              </td>
           </tr>
           <tr style="">
              <td colspan="2" style="">
                 <div style="font-weight: 600; margin-top: 0px; font-size: 18px; font-family: poppins, sans-serif;">
                    TO A FUTURE OF CONTINUOUS SUCCESS
                 </div>
              </td>
           </tr>
            <tr style="">
                <td colspan="2" style="">
                    <p style="margin-bottom: 20px; margin-top: 20px; font-size: 14px; font-weight: 500; font-family: poppins, sans-serif;">
                        We are excited to embark on this journey with our valued employees and partners, and look forward to a bright future ahead.
                    </p>
                    <p style="font-size: 13px; font-weight: 500; font-family: poppins, sans-serif;">
                        Thank you for your continued support.
                    </p>
                    <p style="margin-top: 30px; margin-bottom: 0px; font-size: 13px; font-weight: 500; font-family: poppins, sans-serif;">
                        Sincerely,
                        <br style="">
                        <img width="250" style="width: 250px;" dfsrc="https://www.1point1.in/mdmail/sign.png" src="https://www.1point1.in/mdmail/sign.png" saveddisplaymode="">
                    </p>
                </td>
           </tr>
            <tr style="">
                <td colspan="2" style="">
                    <div style="margin-top: 0px; margin-bottom: 20px;">
                        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 13px; font-weight: 500; font-family: poppins, sans-serif;">
                            Akshay Chhabra
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 13px; font-weight: 500; font-family: poppins, sans-serif;">
                            Managing Director
                        </p>
                        <p style="margin-top: 0px; margin-bottom: 0px; font-size: 13px; font-weight: 500; font-family: poppins, sans-serif;">
                            1Point1
                        </p>
                    </div>
                </td>
           </tr>
           <tr style="">
                <td colspan="2" style="">
                    <table style="width: 100%; background-size: 100%; height: 110px; background-repeat: no-repeat; background-color: rgb(83, 100, 166); padding-top: 43px;" dfbackground="https://www.1point1.in/mdmail/5.png" background="https://www.1point1.in/mdmail/5.png">
                        <tbody style="">
                            <tr style="">
                                <td style="">
                                    <div style="margin-top: 30px; margin-left: 20px; width: 213px;">
                                        <a href="#" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;">Mumbai</a><br style="">
                                        <a href="#" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;">Indore</a><br style="">
                                        <a href="#" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;">Bangalore</a><br style="">
                                        <a href="#" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;">Chennai</a><br style="">
                                        <a href="#" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;">Gurugram</a><br style="">
                                        <a href="#" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;">Delaware</a>
                                    </div>
                                </td>
<td style="">
                                    <div style="margin-top: 15px; width: 225px;">
                                       




                                        <span class="Object" id="OBJ_PREFIX_DWT85_com_zimbra_url" style=""><span class="Object" role="link" id="OBJ_PREFIX_DWT48_com_zimbra_url"><a href=" https://www.facebook.com/1POINT1Solutions/" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;" target="_blank">Facebook</a></span></span><br style="">
                                        <span class="Object" id="OBJ_PREFIX_DWT86_com_zimbra_url" style=""><span class="Object" role="link" id="OBJ_PREFIX_DWT49_com_zimbra_url"><a href="https://www.instagram.com/1point1solutions/" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;" target="_blank">Instagram</a></span></span><br style="">
                                        <span class="Object" id="OBJ_PREFIX_DWT87_com_zimbra_url" style=""><span class="Object" role="link" id="OBJ_PREFIX_DWT50_com_zimbra_url"><a href="https://www.linkedin.com/company/one-point-one-solutions/" style="display: block; color: rgb(255, 255, 255); text-decoration: none; font-size: 12px; font-weight: 500; font-family: poppins, sans-serif;" target="_blank">LinkedIn</a></span></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
           </tr>
           
        </tbody>
    </table>

</center>

 

</div><br style=""></div></div></div></div></body></html>
